
.header{
    width: 100%;
    background-color: black;
    padding: 0.5rem;
    box-shadow: rgba(255, 255, 255, 0.295) 0px 2px 5px -1px, rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;
}
.logo{
    font-size: 2rem;
    
}
.link{
    font-size: 1.7rem;
    line-height: 3.1rem;
}